.img-placeholder {
	display: inline-flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: center;
	margin-right: 28px;
	position: relative;
	background: $bg-color-gren;
	z-index: 1;
	&:last-child {
		margin-right: 0;
	}
	&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			max-width: 100%;
			background: $hover-gradient;
			opacity: 0;
	}
	&:hover {
		&:after {
    		transform: translateY(-10px) translateX(-10px);
    		opacity: 1;
    		transition: .5s ease all;
    	}
    	img {
			transform: translateY(-10px) translateX(-10px);
			transition: .5s ease all;
		}
		.icon-holder {
			opacity: 1;
			transform: translateY(-10px) translateX(-10px);
			z-index: 3;
			transition: .5s ease all;
		}
	}
	&.img-placeholder-382x252 {
		height: 252px;
		width: 382px;
	}
	img {
		max-width: 100%;
	}
}

.icon-holder {
	position: absolute;
	top: 40%;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	&__text {
		font-size: 18px;
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
	}
}

// @media(max-width: 768px){
// 	.img-placeholder{
// 		display: flex;
// 		justify-content: center;
// 		flex-direction: column;
// 		flex-wrap: wrap;
// 	}
// }