.img-placeholder {
	position: relative;
	background: $bg-color-gren;
	z-index: 1;
	font-size: 0;
	cursor: pointer;
	transition: .3s ease all;
	&:last-child {
		margin-right: 0;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		max-width: 100%;
		background: $hover-gradient;
		opacity: 0;
		transition: .3s ease all;
	}
	&:hover {
		&:after {
    		transform: translateY(-10px) translateX(-10px);
    		opacity: 1;
    		transition: .3s ease all;
    	}
    	img {
			transform: translateY(-10px) translateX(-10px);
			transition: .3s ease all;
		}
		.icon-holder {
			opacity: 1;
			transform: translateY(-10px) translateX(-10px);
			z-index: 3;
			transition: .3s ease all;
			&_work {
				// transform: 0;
			}
		}
		.icon-team {
			opacity: 1;
			transform: translateY(-10px) translateX(-10px);
			z-index: 3;
			transition: .3s ease all;
		}
		.icon-work {
			opacity: 1;
			z-index: 3;
		}
	}
	img {
		max-width: 100%;
	}
	&__team{
		margin-bottom: 28px;
		img{
			position: relative;
		}
	}
}

.img-placeholder__work{
	width: 25%;
	height: auto;
	img {
		min-width: 100%;
	}
	&:hover{
			&:after {
    		transform: translateY(0) translateX(0);
    		opacity: 1;
    		transition: .5s ease all;
    		}
	img {
		transform: translateY(0) translateX(0);
		transition: .5s ease all;
		}
	}
}

@media (min-width: 320px){
	.img-placeholder__work{
		width: 100%;
	}
}

@media (min-width: 468px){
	.img-placeholder__work{
		width: 50%;
	}
}

@media (min-width: 768px){
	.img-placeholder__work{
		width: 25%;
	}
}

.icon-holder {
	position: absolute;
	top: 40%;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	&__text {
		font-size: 18px;
		text-transform: uppercase;
		color: $main-bg;
		font-weight: 700;
	}
}

@media(max-width: 768px){
	.img-placeholder__story{
		margin-right: 0;
		margin-bottom: 28px;
	}
}

.icon-team {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	opacity: 0;
}

.icon-work {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&__title {
		text-transform: uppercase;
		font-family: $base-font-family;
		color: $main-bg;
		font-weight: 400;
		font-size: 14px;
		margin-bottom: 17px;
	}
	&__info {
		font-family: "Roboto - Light Italic";
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;
		color: $main-bg;
	}
}