.map-wrap {
	position: relative;
	text-align: center;
	opacity: 1;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	background-image: url("../img/map-overlay.jpg");
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// 	z-index: 3;
	// 	opacity: 0.5;
	// }
}

#map {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	// opacity: 0;
	&.active{
		height: 500px;
		opacity: 1; 
	}
}

.map-holder {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
	top: 30%;
	left: 50%;
	opacity: 1;
	z-index: 4;
}

.icon-map {
	display: block;
	width: 20px;
	height: 26px;
	margin-bottom: 18px;
}

button.open-map {
	color: $rose-color;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	padding-bottom: 21px;
	font-family: $base-font-family;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	&:after {
		content: '';
		position: absolute;
		right: 50%;
		bottom: 0;
		transform: translateX(50%);
		background: $rose-color;
		width: 60px;
		height: 3px;
	}
}