.header__navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navigation {
	margin-right: 15px;
	ul#menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 65px;
		z-index: 1;
		left: -100%;
		background: #f38181;
		width: 100%;
		transform: translateX(-100%);
		transition: 1s ease all;
		height: auto;
		li {
			display: inline-block;
			width: 100%;
			box-shadow: inset 0 0 0 1px $grey-bg;
			padding: 15px;
			margin-right: 5px;
			a {
				text-align: center;
				display: block;
				text-transform: uppercase;
				color: #fff;
				padding: 10px 0;
				font-size: 20px;
			}
		}
		&.active {
			position: fixed;
			top: 65px;
			left: 100%;
			z-index: 10;
		}
	}
}

.navigation-holder {
	display: block;
}

@media (min-width: 768px) {
	.header__navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		&>* {
			display: inline-block;
		}
	}
	.navigation {
		margin-right: 0;
		ul#menu {
			display:block;
			position: relative;
			top: 0;
			left: 100%;
			background: none;
			li {
				margin-right: 25px;
				display: inline-block;
				box-shadow: none;
				padding: 0;
				width: auto;
				a{
					text-transform: uppercase;
					color: #fff;
					position: relative;
					width: 100%;
					font-size: 14px;
					&:after{
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						background: #fce38a;
						height: 4px;
						opacity: 0;
					}
					&:hover{
						color: #fce38a;
						transition: 1s ease all;
						&:after{
							opacity: 1;
							transition: 1s ease all;
						}
					}
				}
			}
		}
	}
	.navigation-holder {
		display: none;
	}
}

@media (min-width: 950px ) {
	.navigation {
		ul#menu {
			li {
				margin-right: 50px;
			}
		}
	}
}

.search-box {
	transition: .5s ease all;
	position: relative;
	width: 15px;
	overflow: hidden;
	button{
		background: none;
		border: none;
		cursor: pointer;
  	}
	&>button {
		position: absolute;
		right: 0;
		top: 0;
		left: 0;
		bottom: 0;
		cursor: pointer;
	}
	form {
    	white-space: nowrap;
    	&>*{
    		display: inline-block;
    	}
    	input{
    		border-radius: 5px;
    		padding: 0 10px;
    		width: 150px;
    		border: none;
    		outline: none;
    	}
    	&>button{
    		opacity: 0;
		}
  	}
  	&.active {
		width: 200px;
	    border-radius: 15px;
	    border: 1px solid #f8f8f8;
	    padding: 5px;
	    animation-name: change-color;
		animation-duration: 5s;
		&>button{
			display: none;
		}
		form{
			&>button{
				opacity: 1;
				border-radius: 50%;
				width: 30px;
				height: 17px;
			}
		}
		@media (min-width: 950px) {
			width: 200px;
		}
  	}
}