.slider-wrap{
	background: $grey-bg;
	position: relative;
}

.sliderabout{
	position: relative;
	display: flex;
 	justify-content: center;
 	width: 100%;
 	min-height: 100%;
	&__img{
	border: 1px solid $bg-color-gren;
	margin-right: 60px;
		img{
			padding:44px;
		}
	}
	&__text{
		font-size: 24px;
		font-weight: 400;
		line-height: 36px;
		color: #999999;
	}
	&__author{
		font-family: "Kaushan Script";
		color: #333333;
		font-size: 24px;
		font-weight: 400;
		position: relative;
		padding-left: 71px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			background: $horizontal-bar;
			width: 62px;
			height: 3px;
		}
	}
}
.slideabout{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 70px 0;
	margin: 0 72px;
	transition: .5 ease all;
}
.sliderabout__btn{
	position: relative;
	cursor: pointer;
	z-index: 15;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 3em;
	&_next, &_prev	{
		position: absolute;
		width: 40px;
		height: 40px;
		z-index: 12;
	}
	&_next{
		left: auto;
		right: 0;
		&:before{
		    content: '';
		    position: absolute;
		    width: 15px;
		    height: 15px;
		    -webkit-box-shadow: inset 3px 3px 0 0 #cccccc;
		    box-shadow: inset 3px 3px 0 0 #cccccc;
		    transform: rotate(140deg);
		    right: 16px;
		    top: 14px;
		}
	}
	&_prev{
		left: 0;
		right: auto;
		&:before{
			content: '';
		    position: absolute;
		    width: 15px;
		    height: 15px;
		    -webkit-box-shadow: inset 3px 3px 0 0 #cccccc;
		    box-shadow: inset 3px 3px 0 0 #cccccc;
		    transform: rotate(-45deg);
		    right: 14px;
		    top: 14px;
		}
	}
}