.services-do {
	display: flex;
	justify-content: space-between;
	&__img {
		height: 280px;
	}
}

.accordion {
	&__title {
		font-family: $base-font-family;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		color: $title-color;
		border: 1px solid $light-grey;
		height: 60px;
		padding: 25px 60px;
	}
	&__body {
		// opacity: 0;
		height: 0;
		transition: .3s ease all;
	}
}