.statistic-placeholder {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	&>[class*="col-"]{
		padding: 0;
	}
}

.statistic {
	display: block;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: $base-font-family;
	padding: 90px 0;
	width: 100%;
	cursor: pointer;
	&:first-child {
		border-left: 1px solid rgba(255, 255, 255, 0.3);
	}
}

.statistic__number {
	font-size: 72px;
	font-weight: 700;
}

.statistic__name {
	font-size: 14px;
	font-weight: 400;
}
