.slidero{
	text-align: center;
	position: relative;
}

.slidero-nav{
	margin-top: 155px;
	cursor: pointer;
	.slide{
		outline: none;
		margin-right: 28px;
		&:nth-child(last){
			margin-left: 0;
		}
	}
}
.slick-track{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

button.learn-more{
	background: none;
	box-shadow: inset 0 0 0 3px #fff;
	width: 162px;
	height: 42px;
	border: none;
	cursor: pointer;
	margin-top: 48px;
	text-transform: uppercase;
	font-family: $base-font-family;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	outline: none;
	&:hover{
		background: $hover-gradient;
	}
}

.learn-more__text{
		display: none;
		color: $text;
		font-size: 25px;
		font-style: italic;
		line-height: 24px;
		text-align: center;
		padding-top: 70px;
		&.active{
			display: block;
			color: $text;
			font-size: 25px;
			font-style: italic;
			line-height: 24px;
			text-align: center;
		}
}

.info{
	position: relative;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 30px;
	font-weight: 400;
	font-family: $base-font-family;
	&:before{
		content: '';
		width: 100%;
		height: 5px;
		background: $main-bg;
		position: absolute;
		top: 0;
	}
	span{
		font-size: 24px;
		font-weight: 700;

	}
}