//In fonts.less I import all fontfaces that will be used in website.

.fa-shopping-cart {
	color: $main-bg;
	margin-right: 25px;
	cursor: pointer;
	font-size: 15px;
	transition: .3s ease color;
	&:hover {
		color: $yellow-color;
	}
	@media (min-width: 950px) {
		margin-right: 40px;
	}
}

.fa-bars {
	color: $main-bg;
	cursor: pointer;
	font-size: 20px;
}

.fa-times {
	display: none;
	&.active {
		display: block;
	}
}

.fa-search {
	color: $main-bg;
	position: relative;
	z-index: 2;
	background: none;
	font-size: 15px;
	transition: .3s ease color;
	&:hover {
		color: $yellow-color;
	}
}

.fa-users {
	width: 35px;
	height: 26px;
	color: $main-bg;
	z-index: 2;
	font-size: 20px;
}

.fa-facebook-f, .fa-twitter, .fa-pinterest-p, .fa-instagram {
	width: 57px;
	height: 57px;
	color: $rose-color;
	background: $yellow-color;
	padding-top: 17px;
	font-size: 21px;
	cursor: pointer;
	border-right: 1px solid $rose-color;
	transition: .3s ease all;
	&:hover{
		color: $yellow-color;
		background: $rose-color;
		transition: .3s ease all;
	}
}

.fa-instagram {
	border: none;
}

.fa-map-marker-alt {
	color: $rose-color;
}

@media(max-width: 768px){
	.fa-shopping-cart{
		margin-right: 15px;
	}
}

.fa-image {
	color: $main-bg;
	font-size: 20px;
	margin-bottom: 20px;
}