//Into vriables.less I write Less variables for font-sizing, main colors,  fonts etc.

$hover-gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);

$bg-color-gren: #95e1d3;

$main-bg: #ffffff;

$grey-bg:  #f8f8f8;

$base-font-family: Montserrat;

$text: #999999;

$yellow-color: #fce38a;

$rose-color: #f38181;

$title-color: #333333;

$light-grey: #e5e5e5;