//Into vriables.less I write Less variables for font-sizing, main colors,  fonts etc.

$hover-gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);

$bg-color-gren: #95e1d3;

$main-bg: #fff;

$grey-bg:  #f8f8f8;

$horizontal-bar: #f38181;

$base-font-family: Montserrat;

$text: #999999;