.wrapper
	.article-wrap.offset
		.title
			h3.subheading-italic 
				|Our stories
			h2.subheading
				|Latest blog
		.articles.row
			.col-mobile.col-phablet-1-2.col-desktop-1-3
				article.article
					figure.article__img
						picture
							source(srcset="img/article-1.png" alt="article 1")
							img(src="img/article-1.jpeg" alt="article 1")
						figurecaption
							.article__date 15
								span Jan
					.article__title Lorem ipsum dolor sit amet
					.article__info Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.article__view
						.fas.fa-eye
						span 542
					.article__comment
						.fas.fa-comment-dots
						span 17
			.col-mobile.col-phablet-1-2.col-desktop-1-3
				article.article
					figure.article__img
						picture
							source(srcset="img/article-2.png" alt="article 2")
							img(src="img/article-2.jpeg" alt="article 2")
						figurecaption
							.article__date 14
								span Jan
					.article__title sed do eiusmod tempor
					.article__info Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.article__view
						.fas.fa-eye
						span 992
					.article__comment
						.fas.fa-comment-dots
						span 42
			.col-mobile.col-phablet-1-2.col-desktop-1-3
				article.article
					figure.article__img
						picture
							source(srcset="img/article-3.png" alt="article 3")
							img(src="img/article-3.jpeg" alt="article 3")
						figurecaption
							.article__date 12
								span Jan
					.article__title incididunt ut labore et dolore
					.article__info Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.article__view
						.fas.fa-eye
						span 1560
					.article__comment
						.fas.fa-comment-dots
						span 98
