.design-wrap
	.wrapper
		.title
			h3.subheading-italic
				|For all devices
			h2.subheading 
				|Unique design
		.devices
			.device-ipad
				img(src="svg/ipad.svg")
				.device-ipad__content
				.device-iphone
					img(src="img/iphone.png")