.design-wrap
	.wrapper
		.title
			h3.subheading-italic
				|For all devices
			h2.subheading 
				|Unique design
		.devices
			.device-ipad
				img(src="svg/ipad.svg")
				.device-ipad__content
					//- img(scr="img/ipad__content.png")
			.device-iphone
				img(src="svg/iphone.svg")
				.device-iphone__content
					//- img(scr="img/iphone__content.png")