-
	var menu = [
		{
			title : 'about',
			href : 'index.html'
		},
		{
			title : 'service',
			href : '#'
		},
		{
			title : 'work',
			href : 'news.html'
		},
		{
			title : 'blog',
			href : '#'
		},
		{
			title : 'contact',
			href : '#'
		}
	];
.header__navbar
	nav.navigation 
		ul#menu
			each item in menu
				li: a(href=item.href)=item.title
		.navigation-holder
			i
				.fas.fa-bars
	i.fas.fa-shopping-cart
	.search-box
		form
			button.fas.fa-search
			input(type="text" name="search" placeholder="search...")
		button.fas.fa-search
