.slider
	-for(var i = 1; i <5; i++)
		.slide
			h3.subheading-italic_slider 
				|Creative Template
			h2.subheading_slider 
				|welcome 
				br
				|to mogo
			button.learn-more 
				a 
					|learn more
			.learn-more__text
				|“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
				|et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
//- var navslider = ['01 INTRO','02 WORK','03 ABOUT','04 CONTACT'];
.slider-nav
	-for(var i = 1; i <5; i++)
		.slide
			.info
				span 0#{i} 
				|work
			
