-
	var statistica = ['Web Design Projects', 'happy client', 'award winner', 'cup of coffee', 'cup of coffee'];
.statistic-wrap
	.wrapper
		.statistic-placeholder
			each item in statistica
				.statistic
					.statistic-number 75
					.statistic-name=item

