.wrapper
	.story
		h3.subheading-italic 
			|What we do
		h2.subheading
			|Story about us
		.intro
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		.story-img
			-for(var i = 1; i <=3; i++)
				.img-placeholder.img-placeholder-382x252
					img(src="../img/story-"+i+".jpg")
					.icon-holder
						.fas.fa-users
						.icon-holder__text
							|Super team
