-
	var people = [
			{	
				img: "/img/team-1.jpg",
				name: "Matthew Dix",
				job: "Graphic Design"
			},
			{	
				img: "/img/team-2.jpg",	
				name: "Christopher Campbell",
				job: "Branding/UX design"
			},
			{		
				img: "/img/team-3.jpg",
				name: "Michael Fertig",
				job: "Developer"
			}
		];
.wrapper
	.team-wrap
		h3.subheading-italic 
			|Who we are
		h2.subheading
			|Meet our team
		.intro
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		.team.row
			each item in people
				.col-mobile.col-phablet-1-2.col-desktop-1-3
					figure.team-people
						.img-placeholder.img-placeholder__team
							img(src=item.img)
							.icon-team
								.fab.fa-facebook-f
								.fab.fa-twitter
								.fab.fa-pinterest-p
								.fab.fa-instagram
						figurecaption
							.team__name=item.name
							.team__job=item.job
					