.wrapper
	.work
		h3.subheading-italic 
			|What we do
		h2.subheading
			|some of our work
		.intro
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.]
.work-img
	.column
		.img-placeholder.img-placeholder__work
			img(src="../img/work-1.jpg")
		.img-placeholder.img-placeholder__work
			img(src="../img/work-5.jpg")
	.column
		.img-placeholder.img-placeholder__work
			img(src="../img/work-2.jpg")
		.img-placeholder.img-placeholder__work
			img(src="../img/work-6.jpg")
	.column
		.img-placeholder.img-placeholder__work
			img(src="../img/work-3.jpg")
	.column
		.img-placeholder.img-placeholder__work
			img(src="../img/work-4.jpg")
		.img-placeholder.img-placeholder__work
			img(src="../img/work-7.jpg")