.banner {
	padding-top: 230px;
	position: relative;
	background-image: url('../img/header-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 100%;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $hover-gradient;
	}
}

@media (max-width: 400px) {
	.banner {
		padding-top: 140px;
	}
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 10;
	padding: 28px 0;
	&__logo {
		color: $main-bg;
		font-family: Montserrat;
		font-size: 30px;
		font-weight: bold;
		cursor: pointer;
		margin-right: 0; 
	}
	&>.wrapper {
		display: flex;
		justify-content: space-between;
	}
}

.header-background {
	background-color: $rose-color;
}

@media (max-width: 400px) {
	.header__logo {
		font-size: 20px;
		margin-right: 20px;
	}
}