.banner {
	padding-top: 230px;
	position: relative;
	background-image: url('../img/header-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 100%;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $hover-gradient;
	}
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 10;
	padding-top: 28px;
	padding-bottom: 10px;
	&__logo {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 30px;
		font-weight: bold;
		cursor: pointer;
	}
}

.header-background {
	background-color: #f38181;
}

.container {
	display: flex;
	justify-content: space-between;
}