.design-wrap {
	padding-top: 110px;
	position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image: url('../img/design-background.jpg');
			background-repeat: no-repeat;
			background-position:center;
			background-size: cover;
			z-index: 1;
			opacity: 0.5;
		}
}

.devices {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.device-ipad {
	position: relative;
	width: 477px;
	height: 560px;
	&>img {
		width: 477px;
		height: 713px;
		min-width: 100%;
	}
	&__content {
		position: absolute;
	    top: 121px;
	    left: 62px;
	    right: 57px;
	    bottom: 0;
		background-image: url("../img/ipad__content.png");
		background-attachment: fixed;
		background-position: center;
	}
	.device-iphone {
		position: absolute;
		right: 0;
    	bottom: -70px;
	}
}