.footer-wrap {
	background: $grey-bg;
}

.footer {
	padding: 90px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer__title {
	margin-bottom: 40px;
	color: $title-color;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.about {
	display: flex;
	flex-direction: column;
	&__logo {
		font-size: 46px;
		color: #cccccc;
		font-family: $base-font-family;
		font-weight: bold;
		margin-bottom: 42px;
		cursor: pointer;
	}
	&__info {
		font-family: Roboto;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		color: $text;
		margin-bottom: 42px;
	}
	&__folowers {
		font-size: 14px;
		font-weight: 400;
		color: $title-color;
		font-family: $base-font-family;
		font-weight: bold;
		position: relative;
		padding-bottom: 20px;
		span {
			font-family: "Montserrat - Regular";
			font-weight: 400;
		}
		&:before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 1px;
			background: $light-grey;
		}
	}
	&__social-networks {
		font-family: "Roboto - Light Italic";
		font-size: 15px;
		font-weight: 400;
		color: $text;
		padding: 18px 0;
		&>* {
			display: inline-block;
		}
	}
	&__form {
		input {
			border: 1px solid #e7e7e7;
			padding: 10px;
			color: $text;
			font-family: "Roboto - Light Italic";
			font-size: 15px;
			font-weight: 400;
			height: 40px;
		}
		button {
			background: $bg-color-gren;
			padding: 10px 34px;
			text-transform: uppercase;
			color: $main-bg;
			border: none;
			font-family: $base-font-family;
			font-weight: 700;
			height: 40px;
			margin-left: -5px;
			cursor: pointer;
		}
	}
}

.blogs {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}

.instagram {
	display: flex;
	flex-direction: column;
}

.view-more {
	color: $text;
	font-family: "Roboto - Light Italic";
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 20px;
	display: block;
}

.copyrights {
	text-align: center;
	color: $text;
	font-size: 14px;
	padding: 30px 0;
	position: relative;
	span {
		a {
			color: $rose-color;
			display: inline-block;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: $light-grey;
	}
}

@media (max-width: 768px) {
	.about {
		margin-bottom: 40px;
		&__social-networks {
			&>*{
				margin-top: 10px;
			}
		}
		&__form {
			input {
				width: 100%;
			}
			button {
				width: 100%;
				margin-left: 0;
			}
		}
	}
	.blogs {
		margin-bottom: 40px;
	}
}