.info-block-holder {
	position: relative;
	background-image: url('../img/header-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 100%;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $hover-gradient;
	}
}

.header {
	position: relative;
	padding-top: 28px;
	margin-bottom: 163px;
	display: flex;
	justify-content: space-between;
	&__logo {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 30px;
		font-weight: bold;
		cursor: pointer;
	}
}