.story {
	text-align: center;
}

.story-img {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
	.story-img {
		justify-content: center;
	}
}