.work {
	padding-top: 120px;
	text-align: center;
}

.work-img {
	display: flex;
	flex-wrap: wrap;
	height: 780px;
	flex: 1 auto;
	align-items: stretch;
	overflow: hidden;
}

figure.work-placeholder {
	position: relative;
	overflow: hidden;
	transition: .3s ease all;
	img {
		transform: scale(1);
	}
	&:hover {
		img {
			transform: scale(1.2);
		}
	}
}